/.bashrc
/.ipython
/.lightning_studio
/.lightningignore
/.python_history
/.vscode
/.zcompdump
/.zsh_history
/.zshrc
/cemcd.egg-info
/datasets
**/lightning_logs
/results
/archive
/.condarc
/.config
/.gitconfig
/.docker
/.hushlogin
/.jupyter
/.local
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful
/.idea
**/__pycache__
/wandb
/cache
/user_study
/BatchTopK
/imagenet_naming
/imagenet_hypernyms.ipynb